html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

button {
    outline: 0mm;
    border: 0mm;
    background-color: white;
}

button:hover {
    cursor: pointer;
}s

ul {
    list-style-type: none;
}

#recording {
    color: red;
    display: none;
}